@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  background-color: #1e1e1e;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #3a7af6;
}

.home .datemodify {
  display: flex;
  padding: 20px;
}

.date-picker input {
  font-family: "Poppins";
  font-size: 1.5em;
  border-radius: 5px;
  border-width: 0px;
  width: 150px;
  height: 45px;
  margin: 10px;
}

.form-b {
  margin-top: 10px;
  background-color: #3a7af6;
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
  font-family: "Poppins";
  height: 50px;
  width: 125px;
  border: none;
}

.form-b:hover {
  background-color: #ffd447;
}

.form-b:active {
  background-color: #ffd447;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.links {
  margin: 20px 10px 20px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: #fff;
}

.links a {
  margin: 10px 10px 10px 10px;
  border-width: 5px;
  border-radius: 5px;
  padding-left: 10px;
  width: 90%;
  border-color: black;
  border: solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  color: #ddd;
}

.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 30%;
  height: 65%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  background-color: #3a7af6;
}

.wrapper input {
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.submit {
  background-color: white;
  color: #00308f;
  border-width: 2px;
  border-color: #00308f;
  border-style: solid;
  font-family: "Poppins";
  font-weight: bold;
  width: 200px;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 17.5px;
}

.submit:hover {
  background-color: #75cb6b;
}

.submit:active {
  background-color: #75cb6b;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.loginTitle {
  position: absolute;
  top: 30%;
  color: #fff;
  font-size: 35px;
}

.logOut {
  background-color: white;
  color: #00308f;
  border-width: 2px;
  border-color: #00308f;
  border-style: solid;
  font-family: "Poppins";
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 11px;
  margin: 10px;
}

.logOut:hover {
  background-color: #da3f3f;
}

.logOut:active {
  background-color: #da3f3f;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.example::-webkit-scrollbar {
  display: none;
}

.buttonZip {
  background-color: #3a7af6;
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 11px;
  margin: 10px;
  position: relative;
  left: 90px;
  text-decoration: none;
}

.buttonZip:hover {
  background-color: #ffd447;
}

.buttonZip:active {
  background-color: #ffd447;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.nav {
  background-color: #3a7af6;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav a:hover {
  color: #00308f;
  text-decoration: none;
}

.fixedstops_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdownSelect {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  display: flex;
  font-family: "Poppins";
  position: relative;
}

.dropdownSelect select {
  margin: 3px;
  appearance: none;
  background-color: #666;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  font-family: "Poppins";
  color: #fff;
  padding-left: 5px;
  margin-left: 10px;
  border: none;
}

.dropdownSelect select:after{
  margin: 3px;
  appearance: none;
  background-color: black;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  border: 1px solid #ddd;
  font-family: "Poppins";
  color: #fff;
  padding-left: 5px;
  margin-left: 10px;
  border: none;
}

.fixedstops {
  display: flex;
  flex: 1px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fixedstop-select {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  color: #ddd;
}

.fixedstop-select label {
  color: #3a7af6;
  font-size: 20px;
  margin: 10px;
  border: solid;
  border-width: 3px;
  border-color: #3a7af6;
  border-radius: 5px;
  padding: 30px;
}

.fixedstop-select input {
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

.fixedstop-select input::file-selector-button {
  display: none;
}

.fixedstop-select button {
  color: white;
  margin: 10px;
  background-color: #3a7af6;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}

.fixedstop-select button:hover {
  background-color: #ffd447;
}

.fixedstop-select button:active {
  background-color: #ffd447;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.fixedstop-show {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 95%;
  height: 70%;
  color: #ddd;
  align-items: center;
  justify-content: center;
}

.fixedstop-show table{
  width: 100%;
  border-collapse:  collapse;
}

.fixedstop-show table th{
  
  background-color: #3a7af6;
  color: #ddd;
}

.fixedstop-show table td{
  border-bottom: 1px solid #3a7af6;
  color: #ddd;
}

.error {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 10px;
  color: #870000;
  font-weight: bold;
}

.split {
  height: 70%;
  position: fixed;
  z-index: 1;
  top: 25%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  width: 60%;
  left: 0;
  align-items: center;
}

.right {
  width: 40%;
  right: 0;
}

.fixedstop-show a {
  position: absolute;
  text-decoration: none;
  color: #ddd;
  background-color: #3a7af6;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  left: 40%;
}

.fixedstop-show a:hover {
  text-decoration: none;
  background-color: #ffd447;
}

.fixedstop-show a:active {
  text-decoration: none;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.left h2{
  position: relative;
  justify-content: center;
  align-items: center;
  color: #ddd;
  text-align: center;
  top: 30%;
}
